@import "tailwindcss";

:root {
  --background: #030014;
  --foreground: #ffffff;
  --primary: #7042f88b;
  --secondary: #0f172a;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden !important;
  max-width: 100vw;
  width: 100%;
  cursor: none;
  /* Hide default cursor for custom one */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: #2a2a4a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b6b;
}

/* Custom Scrollbar Utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b3b6b;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b4b8b;
}

/* Utils for 3D perspective */
.perspective-1000 {
  perspective: 1000px;
}